name: 'Update Wiki'

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  update-wiki:
    runs-on: 'ubuntu-latest'
    env:
      PROJECT_PATH: '.github/workflows/update-wiki'

    steps:
      - name: 'Checkout Repository'
        uses: 'actions/checkout@v4'
        with:
          fetch-depth: 0

      - name: 'Checkout Wiki'
        uses: 'actions/checkout@v4'
        with:
          path: 'wiki'
          token: ${{ secrets.GH_PAT }}
          repository: ${{ github.repository }}.wiki

      - name: 'Set Up Go'
        uses: 'actions/setup-go@v5'
        with:
          go-version: '1.23.4'
          cache-dependency-path: ${{ env.PROJECT_PATH }}/go.sum

      - name: 'Build Go Program'
        run: |
          cd $PROJECT_PATH
          go build -o update-wiki ./...

      - name: 'Run Update Script'
        run: |
          sudo apt-get install -y --no-install-recommends rsync
          ./$PROJECT_PATH/update-wiki

      - name: 'Commit and Push Changes'
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
        run: |
          cd wiki
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git remote set-url origin https://x-access-token:${GH_PAT}@github.com/${{ github.repository }}.wiki.git
          git add .
          git commit --amend --message "chore(update): updated wiki with latest changes from main branch"
          git push origin master --force
